@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: #dadada;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  padding: 10px 20px;
  color: #fff;
}

.nav-country {
  display: flex;
  align-items: end;
  margin-left: 15px;
  font-size: 13px;
  color: #c4c4c4;
}

.nav-country h1 {
  color: #fff;
  font-size: 14px;
}

.nav-search {
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  color: gray;
  max-width: 1000px;
  border-radius: 4px;
  margin-left: 15px;
}

.nav-search-catg {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 5px;
  background: #e5e5e5;
  border-radius: 4px 0px 0px 4px;
}

.nav-search-input {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
}

.nav-search-icon {
  max-width: 41px;
  padding: 8px;
  background: #ffd64f;
  border-radius: 0px 4px 4px 0px;
}

.nav-lang {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  margin-left: 15px;
}

.nav-text {
  margin-left: 5px;
}

.nav-text p {
  font-size: 10px;
}

.nav-text h1 {
  font-size: 14px;
}

.nav-cart {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.nav-cart h1 {
  font-size: 14px;
}

.nav-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 20px;
  background: #232f3e;
  color: #fff;
  font-size: 15px;
}

.nav-bottom div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.header-slider ul {
  display: flex;
  overflow-y: hidden;
}

.header-slider img {
  max-width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
  mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider a {
  position: absolute;
  top: 20%;
  z-index: 1;
  padding: 5vh 1vw;
  background: #ffffff4f;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.ctr-next {
  right: 0;
}

.box-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  margin: -20vw 30px 20px 30px;
}

.box-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  background: #fff;
  max-width: 24%;
  min-height: 200px;
  z-index: 1;
}

.box-col a {
  font-size: 13px;
  color: #009999;
  font-weight: 500;
}